body {
  font-family: Arial;
  background-color: #f5f5f5;
  text-align: center;
  margin-top: 50px;
}

input {
  padding: 10px;
  width: 200px;
}

button {
  padding: 10px 15px;
  cursor: pointer;
  margin-left: 5px;
}

ul {
  list-style-type: none;
  padding: 0;
  margin-top: 20px;
}

li {
  background: white;
  margin: 5px auto;
  padding: 10px;
  width: 250px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.3s;
}

li.completed {
  text-decoration: line-through;
  color: gray;
  background-color: #dcdcdc;
}
