* {
    margin: 0;
    padding: 0;
}
body {
    background-color: black;
}
p {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

#btn {
    padding: 14px 20px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 17px;   
}